*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
  background-color: #262a2f;
}

.container{
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 5px;
}

.container input{
    height: 30px;
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid #494eae;
    border-radius: 10px;
}
.container p{
    padding: 5px;
}

.container button{
    height: 30px;
    width: 100%;
    border: 0;
    margin: 10px 0px 0px;
    align-self: center;
    border-radius: 10px;
    background-color:#494eae ;
    color: white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

#imagebox {
    width: 300px;
    max-height: 0;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 1s;
    
}
#imagebox img{
    width: 200px;
    padding: 10px;

}

#imagebox.show-img{
    max-height: 300px;
    margin: 10px 70px;
}

